{% extends "base.html" %}
{% block title %}todos{% endblock title %}
{% block content %}

<style>
  .done{
    text-decoration: line-through;
  }
</style>
      
                  <!-- create todo -->
                  {% include "todo\partials\create_todo.html" %}
                  <!-- end create todo -->
                  
                  <ul class="list-group mb-0" id='todos'>
                    
                    {% for todo in todos %}
                      <!-- todo -->
                      {% include "todo\partials\todo.html" %}
                      <!-- end todo -->
                    {% endfor %}
                  
                  </ul>
 
  
  <!-- end todo -->
{% endblock content %}







